name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - dev-deployment
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - dev-deployment

jobs:
  build_and_deploy_job:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    runs-on: ubuntu-latest
    name: Build and Deploy Job

    steps:
      - uses: actions/checkout@v4

      # Build Angular manually (controlled)
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        working-directory: frontend
        run: npm ci

      - name: Build Angular
        working-directory: frontend
        run: npm run build

      # Deploy WITHOUT Oryx rebuild
      - name: Deploy to Azure Static Web App
        uses: Azure/static-web-apps-deploy@v1
        with:
            azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_HAPPY_BAY_0DA833D00 }}
            repo_token: ${{ secrets.GITHUB_TOKEN }}
            action: "upload"
        
            skip_app_build: true
            app_artifact_location: "frontend/dist/docvault-frontend/browser"
